.Logo {
   width: 167px;
   height: 34px;
}
.logoContainer {
   display: flex;
   align-items: center; /* Vertically center the logo within its container */
   margin-left: 32px; /* Space to the left of the logo */
}
