.container {
   width: 100%;
   height: 270px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.Box {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 799;
   height: 212px;
}
